In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.metrics import confusion_matrix
from operator import itemgetter

In [2]:
df = pd.read_csv('interviewchallengesampledata.csv')

In [3]:
df.columns

Index(['Record', 'Image Frame ID', 'Label', 'Score', 'x1', 'y1', 'x2', 'y2',
       'GT Label', 'Threshold', 'GTx1', 'GTx2', 'GTy1', 'GTy2'],
      dtype='object')

In [4]:
df.shape

(3264, 14)

In [5]:
df.head()

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2
0,0,1,alien,0.987645,920.222046,243.421906,962.713257,308.385284,tiger,0.5,926.0,958.0,243.421906,301.0
1,1,2,alien,0.983937,919.544434,255.061249,965.888062,305.472931,tiger,0.5,929.0,958.0,255.061249,302.0
2,2,3,alien,0.984631,919.329346,255.698364,966.233765,305.948425,tiger,0.5,927.0,958.0,255.698364,302.0
3,3,4,alien,0.983412,920.016846,256.790466,966.449585,306.455994,tiger,0.5,928.0,959.0,256.790466,301.0
4,4,5,alien,0.980213,924.729797,227.831360,965.988953,302.414795,tiger,0.5,928.0,958.0,240.000000,302.0

In [6]:
len(pd.unique(df["Record"]))

3264

In [7]:
len(pd.unique(df["Image Frame ID"]))

3264

All values in the `Record` and `Image Frame ID` columns are unique.

In [8]:
pd.unique(df['Label'])

array(['alien', 'baseball', 'gun', 'horse', 'computer', 'tiger', 'boat',
       'lemon', 'moon', 'slenderman', 'elevator', 'puppy'], dtype=object)

In [9]:
pd.unique(df['GT Label'])

array(['tiger', 'alien', nan, 'baseball', 'gun', 'horse', 'computer',
       'puppy', 'elevator', 'moon', 'boat', 'lemon', 'slenderman'],
      dtype=object)

We see `nan` only in the `GT Label` column and not `Label` column.

In [10]:
df_nullGTLabels = df[df['GT Label'].isna()]
df_nullGTLabels

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2
21,21,22,alien,0.992849,964.636108,220.287613,1016.201538,284.434875,NaN,0.5,0.0,0.0,0.0,0.0
34,34,35,baseball,0.814130,1028.764404,124.488708,1101.879395,178.164276,NaN,0.5,0.0,0.0,0.0,0.0
48,48,61,horse,0.139818,890.204773,3.088850,950.131531,56.837898,NaN,0.5,0.0,0.0,0.0,0.0
59,59,72,computer,0.933101,754.241089,118.244843,831.566772,163.777405,NaN,0.5,0.0,0.0,0.0,0.0
60,60,73,computer,0.985782,751.910400,119.423027,835.946289,166.316223,NaN,0.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3259,3259,8443,lemon,0.358968,1577.975098,96.424683,1757.348877,166.386780,NaN,0.5,0.0,0.0,0.0,0.0
3260,3260,8503,moon,0.678795,1605.961060,95.251701,1704.947144,233.457184,NaN,0.5,0.0,0.0,0.0,0.0
3261,3261,8601,baseball,0.343997,421.312561,286.117523,545.831970,364.599823,NaN,0.5,0.0,0.0,0.0,0.0
3262,3262,8603,baseball,0.634486,428.349915,289.275024,576.359192,383.126831,NaN,0.5,0.0,0.0,0.0,0.0
3263,3263,8605,baseball,0.161124,440.533875,288.187256,578.560730,369.259460,NaN,0.5,0.0,0.0,0.0,0.0

In [11]:
np.unique(df_nullGTLabels[["GTx1", "GTx2", "GTy1", "GTy2"]])

array([0.])

Looking at the above rows i.e. objector detector logs, we see that there are almost 1.9k rows where the object detector made a call (not final detection) but there was no GT box annotated in the image. This is because all values in `df_nullGTLabels` are strictly only zeroes. These calls could fall in FALSE POSTIVES (FPs). We will come back to this.

In [12]:
allLabels = list(set(list(pd.unique(df['Label'])) + list(pd.unique(df['GT Label']))))

In [13]:
allLabels = sorted(list(filter(lambda label: isinstance(label, str) , allLabels)))

In [14]:
labelDict = { ix+1:label  for ix, label in enumerate(allLabels) }

In [15]:
labelDict

{1: 'alien',
 2: 'baseball',
 3: 'boat',
 4: 'computer',
 5: 'elevator',
 6: 'gun',
 7: 'horse',
 8: 'lemon',
 9: 'moon',
 10: 'puppy',
 11: 'slenderman',
 12: 'tiger'}

In [16]:
df['Score'].isnull().sum()

0

In [17]:
df['Threshold'].isnull().sum()

0

We see that there zero rows where Score or Threshold columns has null values.

Check how many boxes meet the threshold and how many do not.

In [18]:
df[df['Score'] >= df['Threshold']] # meet the threshold

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2
0,0,1,alien,0.987645,920.222046,243.421906,962.713257,308.385284,tiger,0.5,926.0,958.0,243.421906,301.0
1,1,2,alien,0.983937,919.544434,255.061249,965.888062,305.472931,tiger,0.5,929.0,958.0,255.061249,302.0
2,2,3,alien,0.984631,919.329346,255.698364,966.233765,305.948425,tiger,0.5,927.0,958.0,255.698364,302.0
3,3,4,alien,0.983412,920.016846,256.790466,966.449585,306.455994,tiger,0.5,928.0,959.0,256.790466,301.0
4,4,5,alien,0.980213,924.729797,227.831360,965.988953,302.414795,tiger,0.5,928.0,958.0,240.000000,302.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3254,3254,8323,slenderman,0.532561,1762.785400,98.031258,1829.454102,252.625214,NaN,0.5,0.0,0.0,0.000000,0.0
3256,3256,8329,slenderman,0.515350,1681.483643,81.956169,1763.589111,263.835114,NaN,0.5,0.0,0.0,0.000000,0.0
3258,3258,8345,moon,0.667698,1580.667236,73.267136,1635.032959,219.568436,NaN,0.5,0.0,0.0,0.000000,0.0
3260,3260,8503,moon,0.678795,1605.961060,95.251701,1704.947144,233.457184,NaN,0.5,0.0,0.0,0.000000,0.0
3262,3262,8603,baseball,0.634486,428.349915,289.275024,576.359192,383.126831,NaN,0.5,0.0,0.0,0.000000,0.0

In [19]:
df[df['Score'] < df['Threshold']] # do not meet the threshold

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2
48,48,61,horse,0.139818,890.204773,3.088850,950.131531,56.837898,NaN,0.5,0.0,0.000000,0.0,0.000000
57,57,70,computer,0.466388,787.439270,66.531349,847.361755,127.677879,computer,0.5,789.0,847.361755,73.0,127.677879
73,73,86,tiger,0.462734,812.575439,244.610870,884.141235,312.573090,NaN,0.5,0.0,0.000000,0.0,0.000000
91,91,105,baseball,0.272404,1007.174927,172.022675,1091.642700,224.357452,NaN,0.5,0.0,0.000000,0.0,0.000000
95,95,112,baseball,0.480267,1034.785767,134.195847,1104.828979,190.631302,NaN,0.5,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255,3255,8324,slenderman,0.319041,1744.257690,100.154381,1813.766724,277.992340,NaN,0.5,0.0,0.000000,0.0,0.000000
3257,3257,8344,horse,0.254267,1571.641235,86.330704,1613.265991,162.403381,NaN,0.5,0.0,0.000000,0.0,0.000000
3259,3259,8443,lemon,0.358968,1577.975098,96.424683,1757.348877,166.386780,NaN,0.5,0.0,0.000000,0.0,0.000000
3261,3261,8601,baseball,0.343997,421.312561,286.117523,545.831970,364.599823,NaN,0.5,0.0,0.000000,0.0,0.000000
3263,3263,8605,baseball,0.161124,440.533875,288.187256,578.560730,369.259460,NaN,0.5,0.0,0.000000,0.0,0.000000

The ones that do not meet the threshold can be categorized as **FALSE NEGATIVES** since the detection box will not appear which would be equivalent to saying that the object detector did not successfully detect the object.

There can be overlap of rows between what we called FALSE POSITIVES (based on `NaN` values under the `GT Label` column) and FALSE NEGATIVES (based on `score < threshold` condition) as shown in the following e.g.

In [20]:
df.loc[48, :] # index 48 is the first row of the previous dataframe

Record                  48
Image Frame ID          61
Label                horse
Score             0.139818
x1                 890.205
y1                 3.08885
x2                 950.132
y2                 56.8379
GT Label               NaN
Threshold              0.5
GTx1                     0
GTx2                     0
GTy1                     0
GTy2                     0
Name: 48, dtype: object

We need to combine multiple conditions to correctly identify the number of FPs, FNs and TPs in the CSV. We still need to calculate the IoU between the GT box and predicted box and see if it meets the IoU threshold. We will assume that this threshold is 50%.

In [21]:
def calculate_iou(row):
    pr_x_topleft, pr_y_topleft, pr_x_bottomright, pr_y_bottomright = row['x1'], row['y1'], row['x2'], row['y2']
    gt_x_topleft, gt_y_topleft, gt_x_bottomright, gt_y_bottomright = row['GTx1'], row['GTy1'], row['GTx2'], row['GTy2']

    if gt_x_topleft == 0 and gt_y_topleft == 0 and gt_x_bottomright == 0 and gt_y_bottomright == 0:
        return 0.0 # this happens when no GT box was annotated
    
    if not pr_x_topleft <= pr_x_bottomright:
        print("pr_x_topleft =", pr_x_topleft)
        print("pr_x_bottomright =", pr_x_bottomright)
        raise Exception("pr_x_topleft <= pr_x_bottomright condition is not being met. Possible issue.")
    if not pr_y_topleft <= pr_y_bottomright:
        print("pr_y_topleft =", pr_y_topleft)
        print("pr_y_bottomright =", pr_y_bottomright)
        raise Exception("pr_y_topleft <= pr_y_bottomright condition is not being met. Possible issue.")

    # since we want even the last pixel along each dimensions to be considered, we 1 to each of the sides
    gt_box_area = (gt_x_bottomright - gt_x_topleft + 1.0) * (gt_y_bottomright - gt_y_topleft + 1.0)
    pr_box_area = (pr_x_bottomright - pr_x_topleft + 1.0) * (pr_y_bottomright - pr_y_topleft + 1.0)

    # calculate coordinates of intersecting rectangle
    # intersecting rectangle should be between gt box and pr_box
    int_x_topleft = max(gt_x_topleft, pr_x_topleft)
    int_y_topleft = max(gt_y_topleft, pr_y_topleft)
    int_x_bottomright = min(gt_x_bottomright, pr_x_bottomright)
    int_y_bottomright = min(gt_y_bottomright, pr_y_bottomright)

    # even if one of the coordinates of bottom-right point of intersection box is less than top-left, 
    # the rectangle has to flip LR or UP to keep shape. But in doing this, it violates bottom-right coordinates >= top-left coordinates
    int_box_area = max(int_x_bottomright - int_x_topleft + 1, 0) * max(int_y_bottomright - int_y_topleft + 1, 0)
    
    iou = int_box_area / (gt_box_area + pr_box_area - int_box_area)
    return iou

In [22]:
df['IoU'] = df.apply(calculate_iou, axis=1)

In [23]:
df # dataframe with new column

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2,IoU
0,0,1,alien,0.987645,920.222046,243.421906,962.713257,308.385284,tiger,0.5,926.0,958.0,243.421906,301.0,0.673821
1,1,2,alien,0.983937,919.544434,255.061249,965.888062,305.472931,tiger,0.5,929.0,958.0,255.061249,302.0,0.590860
2,2,3,alien,0.984631,919.329346,255.698364,966.233765,305.948425,tiger,0.5,927.0,958.0,255.698364,302.0,0.616533
3,3,4,alien,0.983412,920.016846,256.790466,966.449585,306.455994,tiger,0.5,928.0,959.0,256.790466,301.0,0.601990
4,4,5,alien,0.980213,924.729797,227.831360,965.988953,302.414795,tiger,0.5,928.0,958.0,240.000000,302.0,0.611441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3259,3259,8443,lemon,0.358968,1577.975098,96.424683,1757.348877,166.386780,NaN,0.5,0.0,0.0,0.000000,0.0,0.000000
3260,3260,8503,moon,0.678795,1605.961060,95.251701,1704.947144,233.457184,NaN,0.5,0.0,0.0,0.000000,0.0,0.000000
3261,3261,8601,baseball,0.343997,421.312561,286.117523,545.831970,364.599823,NaN,0.5,0.0,0.0,0.000000,0.0,0.000000
3262,3262,8603,baseball,0.634486,428.349915,289.275024,576.359192,383.126831,NaN,0.5,0.0,0.0,0.000000,0.0,0.000000
3263,3263,8605,baseball,0.161124,440.533875,288.187256,578.560730,369.259460,NaN,0.5,0.0,0.0,0.000000,0.0,0.000000

In [24]:
df_tp = df[(df['Score'] > df['Threshold']) & (df['IoU'] >= 0.5) & (df['Label'] == df['GT Label'])]

In [25]:
df_tp

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2,IoU
15,15,16,alien,0.982272,937.451111,229.972229,979.905701,295.798462,alien,0.5,951.0,978.000000,240.000000,295.798462,0.547661
23,23,24,alien,0.998562,968.756775,207.904373,1030.661133,271.755310,alien,0.5,989.0,1030.661133,221.000000,271.755310,0.541241
25,25,26,alien,0.996078,983.659546,199.735611,1052.969971,255.341904,alien,0.5,1005.0,1049.000000,208.000000,255.341904,0.546578
26,26,27,alien,0.995432,993.389587,202.199905,1059.060181,255.577408,alien,0.5,1007.0,1053.000000,202.199905,251.000000,0.645616
27,27,28,alien,0.989907,987.749268,196.522629,1058.528076,261.822266,alien,0.5,1005.0,1051.000000,199.000000,255.000000,0.562944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2160,2160,3359,computer,0.995241,832.654053,245.300217,884.214722,288.656097,computer,0.5,839.0,881.000000,251.000000,286.000000,0.663986
2161,2161,3360,computer,0.992161,820.870056,270.163757,878.062561,311.628540,computer,0.5,834.0,878.062561,270.163757,297.000000,0.507610
2162,2162,3361,computer,0.992996,820.766052,270.103119,882.474426,311.381012,computer,0.5,831.0,878.000000,282.000000,311.381012,0.550053
2164,2164,3363,tiger,0.993573,822.546692,315.660919,880.685486,354.767487,tiger,0.5,831.0,879.000000,317.000000,349.000000,0.681745
2165,2165,3364,tiger,0.990940,824.491394,323.041382,887.844055,369.843262,tiger,0.5,837.0,882.000000,333.000000,369.000000,0.553284

In [38]:
df_fp = df[ (df['Score'] > df['Threshold']) & (df['IoU'] >= 0.5) & (df['Label'] != df['GT Label']) \
            | (df['Score'] > df['Threshold']) & (df['IoU'] < 0.5))
        ]

SyntaxError: invalid syntax (<ipython-input-38-f7bc91c34354>, line 2)

In [39]:
df_fp

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2,IoU
0,0,1,alien,0.987645,920.222046,243.421906,962.713257,308.385284,tiger,0.5,926.000000,958.000000,243.421906,301.000000,0.673821
1,1,2,alien,0.983937,919.544434,255.061249,965.888062,305.472931,tiger,0.5,929.000000,958.000000,255.061249,302.000000,0.590860
2,2,3,alien,0.984631,919.329346,255.698364,966.233765,305.948425,tiger,0.5,927.000000,958.000000,255.698364,302.000000,0.616533
3,3,4,alien,0.983412,920.016846,256.790466,966.449585,306.455994,tiger,0.5,928.000000,959.000000,256.790466,301.000000,0.601990
4,4,5,alien,0.980213,924.729797,227.831360,965.988953,302.414795,tiger,0.5,928.000000,958.000000,240.000000,302.000000,0.611441
5,5,6,alien,0.980836,920.885254,257.802155,966.539429,307.847443,tiger,0.5,925.000000,959.000000,257.802155,302.000000,0.664262
6,6,7,alien,0.977441,924.987061,228.362213,965.576294,303.709625,tiger,0.5,929.000000,958.000000,241.000000,301.000000,0.576336
7,7,8,alien,0.976036,919.899658,256.045319,967.320435,306.536530,tiger,0.5,926.000000,959.000000,256.045319,301.000000,0.626677
9,9,10,alien,0.980342,924.209595,229.552673,965.439941,304.308411,tiger,0.5,929.000000,957.000000,241.000000,301.000000,0.552952
10,10,11,alien,0.975542,913.370972,236.199219,954.419312,301.429749,tiger,0.5,927.000000,954.419312,242.000000,301.429749,0.616676
11,11,12,alien,0.970145,921.268921,241.608154,963.570068,309.668640,tiger,0.5,927.000000,959.000000,242.000000,303.000000,0.684190
13,13,14,alien,0.959565,912.208862,237.288864,960.410034,302.769531,tiger,0.5,931.000000,960.410034,244.000000,302.769531,0.555682
14,14,15,alien,0.980405,931.772400,249.906509,974.701599,297.978882,tiger,0.5,940.000000,970.000000,249.906509,297.978882,0.705681
46,46,48,gun,0.936159,967.344604,15.442877,1016.057495,78.854309,horse,0.5,979.000000,1016.057495,19.000000,78.854309,0.723269
47,47,49,gun,0.506255,965.408936,11.927542,1007.118408,74.094666,horse,0.5,975.000000,1007.118408,17.000000,74.094666,0.713166
56,56,69,computer,0.903539,787.791870,57.120201,855.235596,125.565712,horse,0.5,804.000000,855.235596,57.120201,120.000000,0.702025
64,64,77,tiger,0.796919,750.985657,190.245056,814.827820,226.622314,computer,0.5,751.000000,814.827820,190.245056,213.000000,0.635405
79,79,93,alien,0.939617,930.522827,246.499557,975.265503,301.934235,tiger,0.5,939.000000,974.000000,246.499557,301.934235,0.787011
82,82,96,alien,0.863429,945.581909,236.669174,993.023071,300.224518,tiger,0.5,950.000000,993.023071,253.000000,300.224518,0.678893
116,116,141,computer,0.586624,793.315857,65.074081,857.134338,133.420181,horse,0.5,800.000000,853.000000,65.074081,129.000000,0.779993
184,184,213,tiger,0.571181,722.692871,467.048187,778.828979,550.886719,alien,0.5,722.692871,778.828979,467.048187,546.000000,0.942400
195,195,232,alien,0.950399,905.182617,376.975006,1010.423096,435.091095,baseball,0.5,919.000000,1010.423096,384.000000,435.091095,0.766564
265,265,315,computer,0.609026,595.025696,166.069763,673.849182,259.790863,horse,0.5,596.000000,665.000000,183.000000,259.790863,0.720194
273,273,323,tiger,0.666961,767.486938,417.130493,829.529785,501.616821,alien,0.5,767.486938,813.000000,423.000000,501.616821,0.687143
286,286,346,alien,0.765803,1114.242798,615.504517,1244.049683,679.439453,baseball,0.5,1114.242798,1238.000000,615.504517,676.000000,0.903233
312,312,375,horse,0.629665,635.105286,321.977448,749.724060,456.255829,computer,0.5,639.000000,742.000000,333.000000,456.000000,0.824514
316,316,379,tiger,0.692075,605.043884,487.142731,728.328796,565.133484,computer,0.5,605.043884,728.328796,499.000000,565.133484,0.849890
329,329,397,moon,0.581419,1000.726929,637.044983,1077.149292,782.794983,alien,0.5,1000.726929,1077.149292,654.000000,765.000000,0.763203
356,356,426,tiger,0.967835,545.048340,507.668671,689.135986,596.554199,computer,0.5,547.000000,680.000000,514.000000,588.000000,0.770630
360,360,432,alien,0.874486,949.312317,718.991089,1019.356506,825.771362,tiger,0.5,959.000000,1017.000000,718.991089,825.771362,0.830469
491,491,582,baseball,0.965814,550.423828,638.459229,624.782593,710.494019,alien,0.5,555.000000,614.000000,638.459229,708.000000,0.769003
852,852,1035,baseball,0.994803,974.124146,494.307281,1113.904175,572.888123,computer,0.5,990.000000,1093.000000,513.000000,572.888123,0.565218
883,883,1073,elevator,0.879225,1248.954956,920.498779,1513.672485,1079.000000,baseball,0.5,1276.000000,1508.000000,937.000000,1059.000000,0.676203
917,917,1114,elevator,0.672658,954.573975,178.296127,1214.573486,324.786255,moon,0.5,974.000000,1208.000000,187.000000,315.000000,0.787508
928,928,1125,moon,0.520782,938.009521,200.129242,1003.179688,446.960663,boat,0.5,947.000000,1003.179688,202.000000,446.960663,0.857608
940,940,1137,boat,0.869159,726.277466,170.995178,972.819336,313.494476,lemon,0.5,730.000000,955.000000,194.000000,313.494476,0.766615
952,952,1149,lemon,0.839862,756.227173,59.284081,963.334961,220.245422,slenderman,0.5,756.227173,961.000000,59.284081,220.245422,0.988780
971,971,1170,slenderman,0.882847,907.422791,0.000000,983.512024,176.103912,puppy,0.5,907.422791,977.000000,0.000000,176.103912,0.915526
995,995,1194,moon,0.902523,990.402893,169.512711,1216.708984,309.091675,elevator,0.5,1001.000000,1216.708984,181.000000,309.000000,0.874853
1051,1051,1250,puppy,0.689858,904.619324,40.268578,981.569763,275.943359,slenderman,0.5,904.619324,974.000000,40.268578,275.943359,0.902890
1117,1117,1317,puppy,0.691572,774.364014,58.305603,938.571045,447.721436,slenderman,0.5,798.000000,894.000000,72.000000,426.000000,0.533881
1176,1176,1378,puppy,0.857470,819.028503,92.245789,930.935852,414.756500,slenderman,0.5,822.000000,928.000000,97.000000,414.756500,0.933753
1185,1185,1387,lemon,0.780385,556.611206,209.400360,873.208008,410.375580,slenderman,0.5,574.000000,870.000000,209.400360,410.375580,0.935148
1194,1194,1396,lemon,0.740270,584.871643,385.549927,890.910217,544.116943,boat,0.5,584.871643,876.000000,392.000000,544.116943,0.912979
1231,1231,1433,puppy,0.974355,848.979126,358.056885,1336.286011,622.402649,elevator,0.5,889.000000,1324.000000,358.056885,618.000000,0.878066
1286,1286,1489,moon,0.953277,880.892029,515.717468,1310.932129,773.242615,elevator,0.5,880.892029,1297.000000,518.000000,772.000000,0.954483
1678,1678,2874,gun,0.985259,1022.407898,83.470787,1050.799072,127.238503,horse,0.5,1022.407898,1043.000000,87.000000,121.000000,0.574356
1698,1698,2894,computer,0.796891,927.356140,148.841232,964.150208,188.475632,horse,0.5,935.000000,964.150208,148.841232,181.000000,0.650985
1805,1805,3001,baseball,0.746443,1104.634766,156.884705,1141.114502,197.980164,gun,0.5,1109.000000,1136.000000,166.000000,197.980164,0.585301
1875,1875,3071,computer,0.834597,905.193909,235.313095,951.483337,260.531372,tiger,0.5,913.000000,951.483337,235.313095,256.000000,0.690626
1977,1977,3174,baseball,0.701035,1029.007202,191.041504,1067.120728,237.491791,gun,0.5,1037.000000,1067.120728,199.000000,228.000000,0.503043
2004,2004,3201,horse,0.920982,921.459045,155.589737,952.237000,195.257523,gun,0.5,930.000000,952.237000,155.589737,191.000000,0.654677
2025,2025,3222,horse,0.944998,847.994873,205.337173,892.567627,263.618713,computer,0.5,849.000000,887.000000,205.337173,249.000000,0.644742
2111,2111,3310,baseball,0.843089,1060.609375,230.498093,1105.789795,280.755310,gun,0.5,1068.000000,1104.000000,230.498093,274.000000,0.695613

In [28]:
df_fn = df[(df['Score'] < df['Threshold']) & (df['GT Label'].notna()) ] # we use notna() to remove the rows without any GT anno in them

In [29]:
df_fn

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2,IoU
57,57,70,computer,0.466388,787.439270,66.531349,847.361755,127.677879,computer,0.5,789.000000,847.361755,73.000000,127.677879,0.872961
188,188,224,moon,0.148311,779.382812,408.943176,864.128174,568.059509,tiger,0.5,790.000000,858.000000,467.000000,557.000000,0.457345
189,189,226,alien,0.276290,827.821960,463.216309,903.403625,552.438721,alien,0.5,841.000000,898.000000,466.000000,550.000000,0.713523
209,209,246,baseball,0.215476,874.160156,103.797798,952.958618,248.516235,gun,0.5,874.160156,924.000000,112.000000,209.000000,0.428471
255,255,301,gun,0.138319,816.500610,80.625900,878.472534,198.926743,gun,0.5,819.000000,874.000000,97.000000,187.000000,0.678327
452,452,542,lemon,0.322706,979.178040,578.542419,1234.541138,675.739929,computer,0.5,1126.000000,1234.541138,601.000000,675.739929,0.329569
635,635,755,baseball,0.315499,955.829285,884.178467,1116.269775,965.256104,computer,0.5,1390.000000,1116.269775,884.178467,526.000000,0.000000
644,644,775,computer,0.459383,1662.410034,465.422729,1701.128296,497.331055,computer,0.5,1662.410034,1695.000000,465.422729,479.000000,0.374619
646,646,777,computer,0.405028,1681.755127,447.652679,1719.890381,479.155182,computer,0.5,1681.755127,1715.000000,454.000000,479.000000,0.699977
663,663,794,computer,0.246018,1580.822632,429.443573,1623.353882,455.407013,computer,0.5,1580.822632,1615.000000,445.000000,455.407013,0.341868
664,664,795,computer,0.443495,1567.399048,443.698975,1606.983765,473.084351,computer,0.5,1567.399048,1603.000000,445.000000,468.000000,0.712322
665,665,796,baseball,0.159944,956.987366,886.038086,1116.715820,962.922729,computer,0.5,1556.000000,1116.715820,886.038086,467.000000,0.000000
666,666,801,baseball,0.269517,952.585510,886.494568,1117.786621,965.124695,computer,0.5,1499.000000,1117.786621,886.494568,482.000000,0.000000
668,668,803,baseball,0.180417,959.255310,883.353027,1119.410400,963.072632,computer,0.5,1463.000000,1119.410400,883.353027,494.000000,0.000000
670,670,805,baseball,0.272864,957.507324,883.564941,1114.400146,962.575073,computer,0.5,1423.000000,1114.400146,883.564941,490.000000,0.000000
705,705,851,baseball,0.134776,950.616577,885.846802,1115.206177,955.402222,computer,0.5,950.616577,847.000000,885.846802,479.000000,0.000000
1272,1272,1475,moon,0.435524,833.241821,612.231934,933.708862,982.010498,boat,0.5,833.241821,933.708862,613.000000,982.010498,0.997929
1278,1278,1481,moon,0.124702,896.394409,546.205688,1008.382568,1061.014771,boat,0.5,896.394409,1008.382568,578.000000,1023.000000,0.864661
1338,1338,1541,boat,0.461412,820.588745,556.860046,973.225708,992.830017,boat,0.5,820.588745,968.000000,587.000000,992.830017,0.899358
1339,1339,1542,puppy,0.374327,851.320374,591.741760,988.647156,944.568787,boat,0.5,851.320374,979.000000,591.741760,944.568787,0.930258
1340,1340,1543,puppy,0.421940,875.780396,590.224121,996.498657,943.776733,boat,0.5,875.780396,996.498657,595.000000,943.776733,0.986530
1575,1575,2771,lemon,0.147850,1535.068970,844.528564,1710.985474,908.845825,tiger,0.5,1535.068970,1036.000000,844.528564,322.000000,0.000000
1576,1576,2772,lemon,0.109490,1537.656494,845.371033,1713.892578,912.304993,alien,0.5,1537.656494,1036.000000,845.371033,322.000000,0.000000
1578,1578,2774,lemon,0.265537,1555.982910,846.044861,1710.136719,913.330505,tiger,0.5,1555.982910,1041.000000,846.044861,329.000000,0.000000
1581,1581,2777,lemon,0.363380,1551.036133,845.646362,1706.123047,914.145142,tiger,0.5,1551.036133,1050.000000,845.646362,327.000000,0.000000
1582,1582,2778,lemon,0.387982,1552.699341,844.689636,1704.813599,918.300964,alien,0.5,1552.699341,1053.000000,844.689636,326.000000,0.000000
1583,1583,2779,lemon,0.341952,1551.770630,847.113464,1707.202515,918.313293,alien,0.5,1551.770630,1052.000000,847.113464,322.000000,0.000000
1938,1938,3134,lemon,0.368935,1561.849121,843.288330,1713.917969,909.707031,tiger,0.5,1561.849121,983.000000,843.288330,427.000000,0.000000
2010,2010,3207,lemon,0.485730,1555.550903,846.325073,1708.094360,920.146606,horse,0.5,1555.550903,941.000000,846.325073,193.000000,0.000000
2045,2045,3242,tiger,0.473388,846.541687,348.424164,915.718689,403.314423,tiger,0.5,857.000000,900.000000,349.000000,385.000000,0.415072
2058,2058,3256,lemon,0.227018,1550.760010,844.145569,1711.269043,911.711243,alien,0.5,1550.760010,954.000000,844.145569,433.000000,0.000000
2059,2059,3257,lemon,0.393733,1549.630859,844.606689,1707.323242,915.578491,alien,0.5,1549.630859,957.000000,844.606689,433.000000,0.000000
2060,2060,3258,lemon,0.309573,1551.822998,842.686218,1710.975830,913.907410,alien,0.5,1551.822998,960.000000,842.686218,434.000000,0.000000
2061,2061,3259,lemon,0.419993,1555.279419,838.239990,1706.317017,916.065796,tiger,0.5,1555.279419,962.000000,838.239990,433.000000,0.000000
2062,2062,3260,lemon,0.410317,1550.475952,843.138855,1709.342407,914.884338,tiger,0.5,1550.475952,966.000000,843.138855,434.000000,0.000000
2096,2096,3295,lemon,0.345798,1552.500610,839.741699,1706.275757,910.484985,baseball,0.5,1552.500610,1099.000000,839.741699,354.000000,0.000000
2130,2130,3329,lemon,0.491377,1547.670654,844.210205,1715.756348,924.449585,gun,0.5,1547.670654,1033.000000,844.210205,195.000000,0.000000
2145,2145,3344,lemon,0.416887,1551.830566,845.435181,1708.881104,917.482788,horse,0.5,1551.830566,962.000000,845.435181,188.000000,0.000000
2146,2146,3345,lemon,0.295948,1551.530762,843.952393,1711.368896,918.549683,horse,0.5,1551.530762,954.000000,843.952393,190.000000,0.000000
2148,2148,3347,lemon,0.366233,1555.308105,842.318237,1706.568359,916.627197,horse,0.5,1555.308105,945.000000,842.318237,193.000000,0.000000
2149,2149,3348,lemon,0.262943,1553.600586,841.862122,1706.049316,915.551819,horse,0.5,1553.600586,941.000000,841.862122,198.000000,0.000000
2150,2150,3349,horse,0.474786,897.951660,152.409775,942.885010,209.423508,horse,0.5,905.000000,937.000000,152.409775,202.000000,0.626501
2166,2166,3365,lemon,0.410297,1553.046631,843.591553,1710.319336,917.946411,tiger,0.5,1553.046631,887.000000,843.591553,385.000000,0.000000
2174,2174,3373,lemon,0.252171,1535.076660,842.257568,1722.895752,921.577881,alien,0.5,1535.076660,933.000000,842.257568,423.000000,0.000000

Let's count the number of rows we will be considering for the confusion matrix.

In [30]:
df_anlsys = pd.concat([ df_tp, df_fp, df_fn]).drop_duplicates()

In [31]:
df_anlsys

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2,IoU
15,15,16,alien,0.982272,937.451111,229.972229,979.905701,295.798462,alien,0.5,951.000000,978.000000,240.000000,295.798462,0.547661
23,23,24,alien,0.998562,968.756775,207.904373,1030.661133,271.755310,alien,0.5,989.000000,1030.661133,221.000000,271.755310,0.541241
25,25,26,alien,0.996078,983.659546,199.735611,1052.969971,255.341904,alien,0.5,1005.000000,1049.000000,208.000000,255.341904,0.546578
26,26,27,alien,0.995432,993.389587,202.199905,1059.060181,255.577408,alien,0.5,1007.000000,1053.000000,202.199905,251.000000,0.645616
27,27,28,alien,0.989907,987.749268,196.522629,1058.528076,261.822266,alien,0.5,1005.000000,1051.000000,199.000000,255.000000,0.562944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2148,2148,3347,lemon,0.366233,1555.308105,842.318237,1706.568359,916.627197,horse,0.5,1555.308105,945.000000,842.318237,193.000000,0.000000
2149,2149,3348,lemon,0.262943,1553.600586,841.862122,1706.049316,915.551819,horse,0.5,1553.600586,941.000000,841.862122,198.000000,0.000000
2150,2150,3349,horse,0.474786,897.951660,152.409775,942.885010,209.423508,horse,0.5,905.000000,937.000000,152.409775,202.000000,0.626501
2166,2166,3365,lemon,0.410297,1553.046631,843.591553,1710.319336,917.946411,tiger,0.5,1553.046631,887.000000,843.591553,385.000000,0.000000
2174,2174,3373,lemon,0.252171,1535.076660,842.257568,1722.895752,921.577881,alien,0.5,1535.076660,933.000000,842.257568,423.000000,0.000000

In [26]:
df.loc[~df_anlsys.index.isin(df.index)]

NameError: name 'df_anlsys' is not defined

In [37]:
df.loc[~df.index.isin(df_anlsys.index)] # rows that are in

,Record,Image Frame ID,Label,Score,x1,y1,x2,y2,GT Label,Threshold,GTx1,GTx2,GTy1,GTy2,IoU
8,8,9,alien,0.975545,907.360291,234.062027,952.001404,307.278168,tiger,0.5,926.0,952.001404,241.0,301.000000,0.486252
12,12,13,alien,0.951528,909.413330,233.492355,954.278076,302.563202,tiger,0.5,929.0,954.278076,243.0,302.563202,0.495206
16,16,17,alien,0.971789,940.397339,227.018951,987.596802,294.305023,alien,0.5,959.0,987.000000,239.0,294.305023,0.496102
17,17,18,alien,0.981147,940.493591,230.374313,992.547180,301.391785,alien,0.5,963.0,992.547180,240.0,295.000000,0.447720
18,18,19,alien,0.977869,945.236572,231.925201,995.897949,301.559418,alien,0.5,972.0,995.897949,239.0,294.000000,0.382094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3259,3259,8443,lemon,0.358968,1577.975098,96.424683,1757.348877,166.386780,NaN,0.5,0.0,0.000000,0.0,0.000000,0.000000
3260,3260,8503,moon,0.678795,1605.961060,95.251701,1704.947144,233.457184,NaN,0.5,0.0,0.000000,0.0,0.000000,0.000000
3261,3261,8601,baseball,0.343997,421.312561,286.117523,545.831970,364.599823,NaN,0.5,0.0,0.000000,0.0,0.000000,0.000000
3262,3262,8603,baseball,0.634486,428.349915,289.275024,576.359192,383.126831,NaN,0.5,0.0,0.000000,0.0,0.000000,0.000000
3263,3263,8605,baseball,0.161124,440.533875,288.187256,578.560730,369.259460,NaN,0.5,0.0,0.000000,0.0,0.000000,0.000000